html {
    display: flex;
    justify-content: center;
    background-color: rgb(190, 255, 180);
}

body {
    background-color: white;
    height: 600px;
    width: 50%;
    margin: 0px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.player-box{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80%;
}

h1 {
    text-decoration: underline;
}

.score-box {
    background-color: rgb(255, 215, 0, 0.6);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    box-sizing: border-box;
    padding: 0px 50px;
    height: 130px;
}

.score {
    text-decoration: none;
    text-align: center;
    
}

.user-move,
.opponent-move {
    font-size: 32px;
    border: black double;
    border-radius: 10px;
    padding: 10px 20px;
}

.top-row,
.middle-row,
.bottom-row {
    display: flex;
    flex-direction: row;

    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.top-row {
    height: 50%;
}

.middle-row {
    height: 10%;
    justify-content: center;
}

.bottom-row {
    height: 40%;
    background-color: black;
    justify-content: center;
    align-items: center;
}


.announcement {
    color: white;
    font-size: 52px;
    -webkit-text-stroke: 1px gold;
    text-decoration: none;
}

button {
    height: 25px;
}